.message
  .message__upper-info
    %p.message__upper-info__talker ryu
    %p.message__upper-info__date 2019/08/21(Wed) 21:31:23
  %p.message__text ど
  .message__upper-info
    %p.message__upper-info__talker ryu
    %p.message__upper-info__date 2019/08/21(Wed) 21:31:23
  %p.message__text ら
  .message__upper-info
    %p.message__upper-info__talker ryu
    %p.message__upper-info__date 2019/08/21(Wed) 21:31:23
  %p.message__text ご
  .message__upper-info
    %p.message__upper-info__talker ryu
    %p.message__upper-info__date 2019/08/21(Wed) 21:31:23
  %p.message__text ん
  .message__upper-info
    %p.message__upper-info__talker ryu
    %p.message__upper-info__date 2019/08/21(Wed) 21:31:23
  %p.message__text ぼ
  .message__upper-info
    %p.message__upper-info__talker ryu
    %p.message__upper-info__date 2019/08/21(Wed) 21:31:23
  %p.message__text ーーー
  .message__upper-info
    %p.message__upper-info__talker ryu
    %p.message__upper-info__date 2019/08/21(Wed) 21:31:23
  %p.message__text る